<!DOCTYPE HTML>
<html>
	<head>
		<title>Frugally</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
           	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-wide.css" />
		</noscript>
			<!--		noscript tag-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
	        <!--Global Site Tag(gtag.js)-Google Analytics-->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169170066-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-169170066-1');
		</script>
        </head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">
				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>We are updating our catalog, hold on :)</p>
						</section>
					</div>


				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<a href="/"><h1><em>Frugally</em></h1></a>
						</div>
					</div>


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
