<!DOCTYPE HTML>
<html>
	<head>
                <title>Frugally</title>
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="description" content="Frugally is a comprehensive deal-finding website that uses an interactive learning algorithm to curate deals for you." />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
                <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/init.js') }}"></script>
                <noscript>
                        <link rel="stylesheet" href="static/css/skel.css">
                        <link rel="stylesheet" href="static/css/style.css">
                        <link rel="stylesheet" href="static/css/style-wide.css">
                </noscript>
                        <!--            noscript tag-->
                <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
                <!--Global Site Tag(gtag.js)-Google Analytics-->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169170066-1"></script>
                <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag(){dataLayer.push(arguments);}
                        gtag('js', new Date());

                        gtag('config', 'UA-169170066-1');
                </script>
        </head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<a href="/"><h1><em>Frugally</em></h1></a>
						</div>
						<nav id="nav">
							<ul>
								<li><a href="/home">Homepage</a></li>
                                                                <li class="active"><a href="/">About</a></li>
                                                                <li><a href="#">Login</a></li>
							</ul>
						</nav>
					</div>
				<!-- Header -->

				<!-- Page -->
					<div id="page" class="container">
							<!-- Content -->
							<div id="content" class="testcell">
								<section>
									<header class="major">
										<h2>Frugally.io</h2>
										<span class="byline">Welcome to the Frugally.io beta!</span>
									</header>
									<p>Frugally is a smarter online shopping experience. Minimize your time spent staring at a screen by having all of the best deals from all of your favorite vendors in one convenient place. Whats more, we have our own algorithms set in place to recommend deals based upon your previous shopping habits.</p>
									<p>Frugally is a simple design that employs the use of Selenium's web scraping libraries to gather all of the best deals from a set list of vendors. By handing this data off to our LAMP server (Hardware owned!) and using it to power our AI algorithms, we are able to create a truly unique shopping experience that is curated to the user. All of Frugally.io's data is stored at home, right here in Philadelphia Pennsylvania.</p>
									<p>You have been selected to participate in the Frugally.io beta, congrats! Not only will you have early access to our catalog, but you will be instrumental in our conversion to a stable 1.0 build. At the bottom of each page, you will find a suggestions box that sends us feedback based upon your user experience; we will use this feedback to compile a more personalized user experience in the march towards 1.0.</p>
									<p>Cheers!
									<br>Team Frugally.io</p>
									<p><blockquote>And then came that girl who rowed in the dark. Each night she paused to relay her coordinates, how her body was performing, and the atmospheric conditions. Often she noted things-the outlines of birds migrating at night, a whale shark seining for krill off her bow. She had, she said, a growing ability to dream while she rowed.
									<br>
									<br>-The Orphan Master's Son by Adam Johnson</blockquote></p>
								</section>
								<div class="enter-button">
									<a href="https://frugally.io/home" class="button small">Enter the Beta</a>
								</div>
							</div>
		
							<!-- About -->
							<div id="about">
							<!--<h2>Meet the Team</h2>-->
							<hr style="height:1px;border-width:0;width:75%;padding:3em,0em,3em,0em;color:#777776;background-color:#777776">
							<div class="aboutrow">
							    <div class="card">
							      <img src="{{ url_for('static', filename='images/leo.jpg') }}" alt="" style="max-width:100%">
							      <div class="container">
							        <h2>Leonardo Petit</h2>
							        <p class="title">Economics</p>
							        <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
							        <!--<p>example@example.com</p>-->
							        <p><a href="https://www.linkedin.com/in/leonardo-j-petit-735157122/" target="_blank" class="button small">LinkedIn</a></p>
							      </div>
							  </div>
							    <div class="card">
							      <img src="{{ url_for('static', filename='images/jad.jpg') }}" alt="" style="max-width:100%">
							      <div class="container">
							        <h2>Jad Blaik</h2>
							        <p class="title">Economics, Political Science, Philosophy</p>
							        <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
							        <!--<p>example@example.com</p>-->
							        <p><a href="https://www.linkedin.com/in/jadblaik/" target="_blank" class="button small">LinkedIn</a></p>
							      </div>
							  </div>
							  <div class="card">
                                                              <img src="{{ url_for('static', filename='images/steve.jpg') }}" alt="" style="max-width:100%">
                                                              <div class="container">
                                                                <h2>Steven Madias</h2>
                                                                <p class="title">Electrical Engineering</p>
                                                                <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
                                                                <!--<p>example@example.com</p>-->
                                                                <p><a href="https://www.linkedin.com/in/steven-madias-0b4235171/" target="_blank" class="button small">LinkedIn</a></p>
                                                              </div>
                                                          </div>
							</div>
							<div class="aboutrow">
                                                            <div class="card">
                                                              <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="" style="max-width:100%">
                                                              <div class="container">
                                                                <h2>Casey Zduniak</h2>
                                                                <p class="title">Computer Science</p>
                                                                <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
                                                                <!--<p>example@example.com</p>-->
                                                                <p><a href="https://www.linkedin.com/in/casey-zduniak-858764169/" target="_blank" class="button small">LinkedIn</a></p>
                                                              </div>
                                                          </div>
							    <div class="card">
							      <img src="{{ url_for('static', filename='images/roger.jpg') }}" alt="" style="max-width:100%">
							      <div class="container">
							        <h2>Roger Balcells Sanchez</h2>
							        <p class="title">Electrical Engineering and Applied Mathematics</p>
							        <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p>-->
							        <!--<p>example@example.com</p>-->
							        <p><a href="https://www.linkedin.com/in/roger-balcells-sanchez-434666b9/" target="_blank" class="button small">LinkedIn</a></p>
							      </div>
							  </div>
                                                        </div>
							</div>
							</div>

					</div>
				<!-- /Page -->

	</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<form method="post" action="#">
						<input value="2" type="hidden" name="aboutpage">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Send Message" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<!--<div class="row half patreon">
					<div class="12u">
					<a href="https://www.patreon.com/bePatron?u=37408218" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>	
					</div>
				</div>-->
				<ul class="icons">
					<li><a href="https://www.linkedin.com/company/frugallyio" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.instagram.com/frugallydotio/" class="fa fa-instagram"><span>Instagram</span></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
