<!DOCTYPE HTML>
<html>
	<head>
		<title>Frugally</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.dropotron.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-wide.css" />
		</noscript>
			<!--		noscript tag-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">
				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p style="color:0f1116"><strong>Frugally</strong>, a smarter shopping experience.</p>
							<!-- <a href="#" class="button medium">Read More</a>-->
						</section>
					</div>


				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="/"><em>Frugally</em></a></h1>
							<span class="tag"></span>
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
<!--								<li><a href="login.html">Left Sidebar</a></li>-->
<!--								<li><a href="right-sidebar.html">Right Sidebar</a></li>-->
								<li><a href="/login">Login</a></li>
							</ul>
						</nav>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							{% for i in range(items//itemsinrow + 1) %}
							<div class="row no-collapse-1">
								{% for j in range(itemsinrow) %}
								{% if (itemsinrow*i+j) < items %}
								<section class="4u"> <a href="#" class="image featured"><img src={{ objects[i*itemsinrow+j].img }} alt=""></a>
									<div class="box">
										<boxp>{{objects[i*itemsinrow+j].brand}} {{ objects[i*itemsinrow+j].name }}</boxp>
										<p style="color:red">{{objects[i*itemsinrow+j].original}} ({{ objects[i*itemsinrow+j].discount }})</p>
										<a href="https://{{ objects[i*itemsinrow+j].link }}" class="button">{{ objects[i*itemsinrow+j].price }}</a>
									</div>
								</section>
								{% endif %}
								{% endfor %}
							</div>
							{% endfor %}
						</div>
						<div class="center">
							<div class="pagination">
								<a href="#">&laquo;</a>
								<a href="#" class="active">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">&raquo;</a>
							</div>
						</div>
					</div>


				<!-- Main -->
					<!--
					<div id="main">
						<div class="container">
							<div class="row">


								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-wrench">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
											<li class="fa fa-leaf">
												<h3>Aliquam luctus</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
								<div class="6u">
									<section>
										<ul class="style">
											<li class="fa fa-cogs">
												<h3>Integer ultrices</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
											<li class="fa fa-road">
												<h3>Aliquam luctus</h3>
												<span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>
										</ul>
									</section>
								</div>
							</div>
						</div>
					</div>
					-->

	</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Contact Us</h2>
						<!--<span class="byline">Feel free to reach out with any issues or suggestions!</span>-->
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Send Message" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
