<!DOCTYPE HTML>
<html>
	<head>
		<title>Frugally</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lte IE 8]><script src="static/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
           	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-wide.css" />
		</noscript>
			<!--		noscript tag-->
		<!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie/v8.css" /><![endif]-->
	        <!--Global Site Tag(gtag.js)-Google Analytics-->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169170066-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-169170066-1');
		</script>
        </head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">
				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p><strong>Frugally</strong>, a smarter shopping experience.</p>
						</section>
					</div>


				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><em>Frugally</em><h1>
							<!--<form method="post">
							<input id="filter" value="1" type="hidden" name="homepage" />
							<div class="dropdown">
								<button class="dropbtn" onclick="myFunction()"><h1><em>Frugally <i class="fa fa-caret-down"></i></em></h1></button>
								<div class="dropdown-content" id="myDropdown">
								<div class="headerD">
									<h1>Filters</h1>
									<div class="rowD">
										<div class="columnD">
											<h2>Sort</h2>
											<label class="containerFilter">Highest Price
											  <input type="radio" name="radio" id="1" value="High">
											  <span class="radioCheck"></span>
											</label>

											<label class="containerFilter">Lowest Price
											  <input type="radio" name="radio" id="2" value="Low">
											  <span class="radioCheck"></span>
											</label>
											<label class="containerFilter">Best Discount
											  <input type="radio" name="radio" id="3" value="Discount">
											  <span class="radioCheck"></span>
											</label>
										</div>
										<div class="columnD">
											<h2>Brands</h2>
											{% for i in brands %}
											<label class="containerFilter">{{ i }}
											  <input type="checkbox" name="brandsBox" value="{{ i }}">
											  <span class="checkBox"></span>
											</label>
											{% endfor %}
										</div>
										<div class="columnD">
											<h2>Vendors</h2>
											{% for i in vendors %}
											<label class="containerFilter">{{ i }}
											  <input type="checkbox" name="vendorsBox" value="{{ i }}">
											  <span class="checkBox"></span>
											</label>
											{% endfor %}
										</div>	
									</div>
									<h1>More Filters</h1>
									<div class="rowD">
										<div class="columnD">
											<h2>Gender</h2>
											<label class="containerFilter">Men's
											  <input type="radio" name="radio2" id="4" value="men">
											  <span class="radioCheck"></span>
											</label>

											<label class="containerFilter">Women's
											  <input type="radio" name="radio2" id="5" value="women">
											  <span class="radioCheck"></span>
											</label>
											<label class="containerFilter">All
											  <input type="radio" name="radio2" id="6" value="all">
											  <span class="radioCheck"></span>
											</label>
										</div>
										<div class="columnD">
											<h2>Price Range</h2>
											<label class="containerFilter">
											  <input class="text" type="text" name="rangeLow" id="rangeLow" placeholder="Low" />
											  <input class="text" type="text" name="rangeHigh" id="rangeHigh" placeholder="High" />
											</label>		
										</div>
									</div>
									<input type="submit" value="Filter" class="button small" />
									<a href="https://frugally.io" class="button small">Reset</a>
								</div>
								</div>
							</div>
							</form>-->
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="/">Homepage</a></li>
								<li><a href="#">Login</a></li>
							</ul>
						</nav>
					</div>

				<!-- Products -->
					<div id="extra">
						<div class="container small">
							<div class="dropdown">
								<button onclick="myfunction()" class="dropbtn">Sort</button>
								<div id="dropMenu" class="dropdown-content">
									<h2>Sort</h2>
									<label class="containerFilter">Highest Price
									  <input type="radio" name="radio" id="1" value="High">
									  <span class="radioCheck"></span>
									</label>
									<label class="containerFilter">Lowest Price
									  <input type="radio" name="radio" id="2" value="Low">
									  <span class="radioCheck"></span>
									</label>
									<label class="containerFilter">Best Discount
									  <input type="radio" name="radio" id="3" value="Discount">
									  <span class="radioCheck"></span>
									</label>
								</div>
							</div>
							<hr style="height:1px;border-width:0;width:75%;padding:3em,0em,3em,0em;color:#777776;background-color:#777776">
							{% for i in range(pagination.per_page*(pagination.page-1), pagination.per_page*(pagination.page-1) + pagination.per_page) %}
							<div class="row no-collapse-1">
								{% for j in range(itemsinrow) %}
								{% if (itemsinrow*i+j) < items %}
								<section class="4u">
									<div id="cardcontainer">
										<div class="img-top-left"><h1>{{ objects[i*itemsinrow+j].vendor }}</h1></div>
										<div id="triangle-topright"></div>
										<div class="img-top-right"><h1>-{{ objects[i*itemsinrow+j].discount }}</h1></div>
										<a href="https://{{ objects[i*itemsinrow+j].link }}" target="_blank" class="image featured"><img src={{ objects[i*itemsinrow+j].img }} alt=""></a>
									</div>
									<div class="box">
										<div class="boxp">
											<p>{{objects[i*itemsinrow+j].brand}} {{ objects[i*itemsinrow+j].name }}</p>
										</div>
										<p style="color:red"><del>{{objects[i*itemsinrow+j].original}}</del></p>
										<a href="https://{{ objects[i*itemsinrow+j].link }}" target="_blank" class="button">{{ objects[i*itemsinrow+j].price }}</a>
									</div>
								</section>
								{% endif %}
								{% endfor %}
							</div>
							
							{% endfor %}
							<div id="pagination">
								{{ pagination.links }}
							</div>
						</div>
					</div>

			</div>

	<!-- Footer -->
		<div id="footer" class="wrapper style2">
			<div class="container">
				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<form method="post" action="#">
						<input value="2" type="hidden" name="homepage">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="name" id="name" placeholder="Name" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="email" id="email" placeholder="Email" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Send Message" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
